fastapi
uvicorn
gradio
rich
numpy
python-dotenv
langchain
langchain-core
langchain-community
langchain-openai
langchain-huggingface
langchain-nvidia-ai-endpoints
sentence-transformers
faiss-cpu
transformers
scikit-learn
rank-bm25