fastapi
uvicorn
gradio==5.6.0
rich
numpy
python-dotenv
langchain
langchain-core
langchain-community
langchain-openai
langchain-nvidia-ai-endpoints
langchain-huggingface
sentence-transformers
faiss-cpu
transformers
scikit-learn
rank-bm25
pydantic==2.10.6